.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 70px 100px;
}

.restaurant-box {
	border: solid black;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 180px;
	height: fit-content;
	width: 300px;
	padding: 20px;
}

.btn-group-restaurant {
}

.restaurant-content {
	position: relative;
	text-align: left;
	top: -10px;
	left: 30px;
	margin-bottom: 20px;
}
.text-restaurant {
	display: block;
	word-break: break-word;
	white-space: initial;
	width: 240px;
}

/* .text-cuisine {
	display: block;
}

.text-address {
	display: block;
} */

.btn-review {
	padding: 10px;
	color: black;
	text-decoration: none;
	border: 1px solid rgb(217, 215, 255);
	border-radius: 15px;
	background-color: rgb(217, 215, 255);
	margin-right: 15px;
}

.btn-location {
	margin-left: 15px;
	padding: 10px;
	color: black;
	text-decoration: none;
	border: 1px solid rgb(217, 215, 255);
	border-radius: 15px;
	background-color: rgb(217, 215, 255);
}

.card-custom {
	width: 100% !important;
	text-align: left;
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin: 5% 5%;
	background-color: rgb(218, 213, 212);
}
/* .card-custom:nth-child(3n-2) {
	margin: 10% 10% 10% 5%;
}

.card-custom:nth-child(3n) {
	margin: 10% 5% 10% 10%;
} */

.searchBox-custom {
	margin-top: 2%;
	margin-bottom: 3%;
	display: flex;
	justify-content: center;
}

.button-custom {
	background-color: rgb(128, 112, 104);
	color: white;
}

.container-custom {
	margin-left: 2%;
	margin-right: 10%;
}

.link-custom {
	display: flex;
	text-align: center;
	justify-content: center;
}

.buttons-group {
	justify-content: center;
	align-items: center;
	/* top: 10px; */
	vertical-align: bottom !important;
	/* margin-bottom: 0 !important; */
}

.card-body-custom {
	/* height: 100%; */
	position: relative;
}

.card-group-margin:nth-child(3n-2) {
	margin-left: 5%;
	/* background-color: green; */
}

.card-group-margin:nth-child(3n-1) {
	margin: 0 7%;
	/* background-color: purple; */
}

.card-group-margin:nth-child(3n) {
	margin-right: 0px;
	/* background-color: black; */
}

.card-group {
	justify-content: center;
	align-items: center;
}
