.ReviewPage {
	position: relative;
	left: 130px;
}

.restaurantInfo {
	margin-top: 50px;
	width: 1000px;
	text-align: left;
}

.address-review {
	display: inline-block;
	width: 500px;
}

.restaurantInfo-top {
}

.reviewBody {
	margin-top: 50px;
	width: 1000px;
	/* border: solid black; */
}

.noPost-text {
	font-size: 30px;
	font-weight: 100;
}

.submit-btn-review {
	padding: 8px;
	text-decoration: none;
	font-size: 17px;
}

.btn-location-review {
	width: 150px;
	justify-content: center;
	display: flex;
	float: right;
	margin-bottom: 100p;
	align-items: center;
	position: relative;
	bottom: 20px;
}
